header.top-bar.site-header
  .top-bar-left
    nav
      a(style= {color: 'black', fontsize: '38px ubuntu'}, href="/") Home
      a(style= {color: 'black', fontsize: '38px ubuntu'}, href="/blogList") Blog List
      a(style= {color: 'black', fontsize: '38px ubuntu'}, href="/blogAdd") Add Blog