extends layout

block content

  //main.site-content
  - var Title = 'Joseph Babbs Blog'
    h1(style = {color: '#9aabf9', font: '55px ubuntu'}) #{Title}
    h2(style = {color: '#9aabf9', font: '40px ubuntu'}) Welcome to My Blog.